/* globalne style */
:root {
    --background-page-color: #e5e5e5;
    --background-icon-color: #afb1b8;
    --brand-color-primary: #2196f3;
    --brand-color-background: #2f303a;
    --brand-color-secondary: #212121;
    --brand-color-ordinary: #f5f4fa;
    --brand-color-white: #ffffff;
    --brand-color-logo-black: #000000;
    --paragraf-text-color: #757575;
    --footer-icon-color: rgba(255, 255, 255, 0.1);
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --line-color: #ececec;
    --main-font: "Roboto", sans-serif;
    --background-color-thumb: #2f303acc;
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --button-modal: rgba(0, 0, 0, 0.1);
}

section {
    padding-top: 94px;
    padding-bottom: 94px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    font-family: var(--main-font);
    letter-spacing: 0.03em;
    background-color: var(--brand-color-white);
    font-size: 14px;
}

a {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav,
a {
    text-decoration: none;
    color: var(--brand-color-secondary);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* header global */
header {
    text-decoration: none;
}

header:hover {
    color: var(--brand-color-primary);
}

/* footer global */
footer {
    padding: 60px 0;
    background-color: var(--brand-color-background);
}

footer:hover {
    color: var(--brand-color-primary);
}



/* notatka REDUKCJA MARGINESOW
margin: -94px; */

.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
}



p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

h1 {
    max-width: 696px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}

.team-title {
    font-weight: 700;
  
}

h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 0px;
    padding-bottom: 0px;
}

h5 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

a:hover,
a:focus {
    color: #2196f3;
    fill: currentColor;
}

/* buttons */

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--brand-color-white);
    background-color: var(--brand-color-primary);
    box-shadow: 0px 4px 4px #00000026;
    border-radius: 4px;
    border: none;
    padding: 10px 40px;
    margin-top: 40px;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    cursor: pointer;
    color: var(--brand-color-white);
    background-color: var(--brand-color-primary);
    transform: scale(1.05);
}

.menu {
    display: flex;
    height: 80px;
    border-bottom: solid 1px;
    border-color: var(--line-color);
}

/* LOGO */

.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--brand-color-primary);
}

.studio-black {
    color: var(--brand-color-logo-black);
}

.studio-white {
    color: var(--brand-color-white);
}

.top-line {
    display: flex;
    align-items: center;
}
/* NAVIGATION */

.navigation-list {
    align-items: center;
    display: flex;
    gap: 46px;
    margin-left: 93px;
}

.contacts-top-line {
    display: flex;
    gap: 50px;
    margin-left: auto;
}



.contacts-item {
    font-weight: 500;
    display: flex;
    align-items: center;
    color: var(--paragraf-text-color);
}

.contact-set {
    transition-property: color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-set:hover,
.contact-set:focus {
    --paragraf-text-color: var(--brand-color-primary);
    transform: scale(1.1);
}

/* ZAMÓW USŁUGĘ */

.decoration {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--brand-color-secondary);
    transition-property: color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* LOREM IPSUM */

.lorem-list {
    font-family: "Roboto";
    display: flex;
    justify-content: center;
    gap: 30px;
}

.lorem-text {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin-top: 30px;
}



/* WHAT WE DO */

.what-we-do {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0px;
}

.what-we-do-background {
    display: flex;
    flex-direction: column;
    padding-bottom: 94px;
}

/* Address */

.address-set {
    margin-top: 20px;
}

.address-gap:not(:last-child) {
    margin-bottom: 9px;
}

.address {
    font-family: var(--main-font);
    font-style: normal;
    line-height: 1.46;
    letter-spacing: 0.03em;
    color: var(--brand-color-white);
}
.footer-address {
    font-family: var(--main-font);
    font-style: normal;
    line-height: 1.46;
    letter-spacing: 0.03em;
    color: var(--footer-text-color);
    text-decoration: none;
}



.footer-flex {
    display: flex;
}

.footer-block {
    display: block;
}



/* EFEKTYWNE  */

.content {
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    margin: 0 auto;
    width: 696px;
    color: var(--brand-color-white);
 
}

/* OUR TEAM */

.team-title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1;
    margin-bottom: 50px;
}

.our-team-background {
    background-color: var(--brand-color-ordinary);
}

.our-team-cards {
    display: flex;
    gap: 30px;
}

.our-team {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.team-card {
    background-color: var(--brand-color-white);
    width: 270px;
    height: 428px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin: 0;
    padding: 0px;
}

.our-team-card-description {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--inactive-header-contact-link);
}

/* PORTFOLIO */

.pad-but {
    padding-top: 0;
}

.buttons-portfolio {
    padding-top: 94px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 8px;
}
.button-portfolio {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    border: none;
    background: #f5f4fa;
    border-radius: 4px;
    padding: 6px 24px;
    transition: transform 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, background-color, transform;
}

.button-portfolio:hover,
.button-portfolio:focus {
    transform: scale(1.05);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    background-color: var(--brand-color-primary);
    color: var(--brand-color-white);
}

.wrap {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}
.header-border {
    box-sizing: border-box;
    font-size: 18px;
    background: #ffffff;
    margin: 0px;
    border: 1px solid #eeeeee;
    cursor: pointer;
}

.header-border:hover,
.header-border:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    transform: scale(1.01);
}

.p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 4px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
}

.border-caption {
    height: 110px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
.no-gap {
    display: block;
}

/* HOMEWORK 4 */

/* HEADER */

.icon-contact {
    margin-right: 10px;
    fill: var(--paragraf-text-color);
}


/* MAIN */

.hero {
    padding: 200px 0;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    background-color: var(--brand-color-background);
    background-image: linear-gradient(
            90deg,
            rgba(47, 48, 58, 0.4) 0%,
            rgba(47, 48, 58, 0.4) 0%
        ),
        url(/goit-markup-hw-04/images/tło2.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-properties {
    display: flex;
    justify-content: center;
    padding: 25px 0px;
    border-radius: 4px;
    background: #f5f4fa;
}

/* Our Team */

.social-links {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

}

.jd-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.social-links-properties {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 16px;
}

.social-links-properties > li,
.list-icons-footer > li {
    padding: 12px 12px;
    border-radius: 50%;
}

.social-links-properties li:hover,
.social-links-properties li:focus {
    background-color: var(--brand-color-primary);
    --background-icon-color: var(--brand-color-white);
    cursor: pointer;
    transform: scale(1.1);
}

.job-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--paragraf-text-color);
}

.icon-class {
    fill: var(--background-icon-color);
    display: block;
    
}

.icon-class-footer {
    fill: var(--brand-color-white);
    display: block;
}

/* Our clients */

.clients {
    text-align: center;
}

.clients-list {
    display: flex;
    justify-content: space-between;
}

.clients-list-item {
    width: 170px;
    height: 92px;
    border: solid 1px;
    border-color: var(--background-icon-color);
    border-radius: 4px;
    transition-property: color, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.clients-list-item:hover,
.clients-list-item:focus {
    border-color: var(--brand-color-primary);
    --background-icon-color: var(--brand-color-primary);
    transform: scale(1.05);
}



.client-icon {
    fill: var(--background-icon-color);
    margin: 16px 32px;
}

.client-icon:hover,
.client-icon:focus {
    fill: var(--brand-color-primary);
    transform: scale(1.05);
}



/* Footer */

.footer-join {
    margin-left: 70px;
    margin-top: 10px;
}

.join-header-footer {
    color: var(--brand-color-white);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
}

.footer-icons-properties {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.footer-icons-properties li {
    padding: 12px 12px;
    border-radius: 50%;
    background-color: var(--footer-icon-color);
}

.list-icons-footer {
    transition-property: background-color, color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-icons-footer:hover,
.list-icons-footer:focus {
    background-color: var(--brand-color-primary);
    --background-icon-color: var(--brand-color-white);
    cursor: pointer;
    transform: scale(1.05);
}

/* icons list

icon-smartphone
icon-envelope
icon-antenna-1
icon-clock-1
icon-diagram-1
icon-astronaut-1
icon-instagram-2
icon-Ellipse
icon-linkedin-1
icon-facebook-1
icon-Union
icon-group1
icon-group2
icon-group3
icon-group4
icon-group5
 */

/* Homework 5 */

/* Header */

.active {
    position: relative;
}

.active::after {
    content: "";
    position: absolute;
    background: var(--brand-color-primary);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    margin-top: 28px;
    display: block;
}

.logo-transition {
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-transition:hover,
.logo-transition:focus {
    transform: scale(1.05);
}

/* Modal */

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-hidden .modal {
    transform: scale(0);
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-color);
    visibility: visible;
    /* opacity: 1; */
    /* z-index: 100; */
    transition-property: opacity, visibility, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    /* width: 528px; */
    height: 581px;
    background-color: var(--brand-color-white);
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    /* margin-top: 55px; */
    padding: 40px;
}

.close {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    top: 8px;
    right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--brand-color-white);
    border-radius: 50%;
    cursor: pointer;
}

/* what we do */

.thumb {
    position: relative;
    overflow: hidden;
}

.label {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 27px 0px 27px 90px;
    border-bottom-left-radius: 4px;
    background: var(--background-color-thumb);
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--brand-color-white);
    font-size: 14px;
}

.label1 {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 27px 0px 27px 113px;
    border-bottom-left-radius: 4px;
    background: var(--background-color-thumb);
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--brand-color-white);
    font-size: 14px;
}

.label2 {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 27px 0px 27px 94px;
    border-bottom-left-radius: 4px;
    background: var(--background-color-thumb);
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--brand-color-white);
    font-size: 14px;
}

/* Our team */

.team-social-icons {
    transition-property: color, background-color, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.team-social-icons a:hover,
.team-social-icons a:focus {
    transform: scale(1.1);
}

/* Footer */

.address-transition {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, transform;
}

.address-transition:hover,
.address-transition:focus {
    transform: scale(1.05);
}

/* Portfolio */

.box {
    position: relative;
    width: 370px;
    height: 294px;
    margin: 0 auto;
    background-color: var(--brand-color-primary);
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    top: 0;
    left: 0;
    background-color: var(--brand-color-primary);
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.box:hover .overlay {
    transform: translateX(0);
}

.overlay > p {
    color: var(--brand-color-white);
    padding: 49px 45px 49px 24px;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    font-weight: 400;
}

.footer-trasition {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, transform;
}

.footer-trasition:hover,
.footer-trasition:focus {
    transform: scale(1.05);
}

.card-transition {
    flex-basis: calc((100% - 60px) / 3);
    transition-property: box-shadow, cursor, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.card-transition:hover,
.card-transition:focus {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
        1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transform: scale(1.01);
}

/* img {
    animation-name: spin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
} */

/* @keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
} */

/* .overlay code {
    display: inline-block;
    padding: 2px 4px;
    border-radius: 2px;
    background-color: var(--brand-color-white);
    color: #2a2a2a;
} */

/* .nav-box::after {
    content: "";
    background-color: var(--brand-color-primary);
    height: 4px;
    display: block;
    border-radius: 2px;
} */

/* .hover {
    color: var(--brand-color-secondary);
    transition-property: color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hover:hover,
.hover:focus {
    color: var(--brand-color-primary);
    transform: scale(1.1);
}

.hover a:hover,
.hover a:focus {
    color: var(--brand-color-primary);
    transform: scale(1.1);
} */

/* Homework 6 */

/* pole e-mail */

.input-email {
    padding: 15px 0px 15px 16px;
    background-color: var(--brand-color-background);
}

.label-email {
    display: flex;
    flex-direction: column;
    width: 358px;
    height: 50px;
    position: relative;
}

.color-text-email {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    font-weight: 400;
    line-height: 1.25;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.email-button {
    display: flex;
    align-items: center;
}



/* styl-zapisz się */

.sign-up {
    color: var(--brand-color-white);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer-sign-up {
    margin-left: 78px;
}

.icon-sign-up {
    display: flex;
    fill: var(--brand-color-white);
    position: absolute;
    margin: 13px 8px 13px 148px;
}
/* przycisk zapisz się */
.button-sign {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--brand-color-white);
    background-color: var(--brand-color-primary);
    box-shadow: 0px 4px 4px rgba(243, 109, 109, 0.15);
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 50px;
    padding-right: 42px;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-sign:hover,
.button-sign:focus {
    cursor: pointer;
    color: var(--brand-color-white);
    background-color: var(--brand-color-primary);
}

.button-properties {
    margin-left: 12px;
}

/* Modal */

.title-modal {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color-secondary);
    padding-bottom: 12px;
    /* padding: 40px 40px 12px 40px; */
}

.span-modal {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--paragraf-text-color);
    /* padding: 10px 0px 4px 40px; */
}

.input-modal {
    width: 100%;
    height: 40px;
    border: solid 1px;
    border-radius: 4px;
    border-color: rgba(33, 33, 33, 0.2);
    outline-color: var(--brand-color-primary);
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    /* color: var(--brand-color-secondary);
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    font-weight: 400;
    line-height: 1.25;
    width: 448px;
    height: 40px;
    margin-left: 40px;
    position: relative; */
}

.label-modal {
    position: relative;
    display: block;
    flex-direction: column;
    padding-top: 4px;
    padding-bottom: 10px;
    /* padding-left: 40px; */
    /* margin-right: 4px; */
    /* border: 1px rgba(33, 33, 33, 0.2); */
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    width: 100%;
    /* border: none;
    outline: none; */
}

.textarea {
    outline-color: var(--brand-color-primary);
    resize: none;
    width: 100%;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--brand-color-logo-black);
    padding-left: 16px;
    margin-top: 4px;
    padding-top: 12px;
    border: solid 1px;
    border-radius: 4px;
    border-color: rgba(33, 33, 33, 0.2);
    outline-color: var(--brand-color-primary);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus-within {
    border-color: #2196f3;
}

.textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.button-modal {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--brand-color-white);
    background-color: var(--brand-color-primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 50px;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-padding {
    margin: 30px 0px 0px 124px;
}

.button-modal:hover,
.button-modal:focus {
    cursor: pointer;
    color: var(--brand-color-white);
    background-color: var(--brand-color-primary);
    transform: scale(1.05);
}

.input-modal:focus-within,
.input-modal:focus-within + svg {
    fill: var(--brand-color-primary);
}


.checkbox-modal {
    padding-top: 10px;
}

.checkbox-color {
    background-color: var(--brand-color-primary);
}

.icon-modal {
    display: block;
    position: absolute;
    left: 13px;
    top: 17px;
    fill: var(--brand-color-secondary);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Checkbox */

/* The container */
.container-check {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    margin-top: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 15px;
    width: 16px;
    background-color: var(--brand-color-white);
    border: 2px solid;
    border-color: var(--brand-color-secondary);
    border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
    background-color: var(--brand-color-white);
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
    background-color: #2196f3;
    border-color: var(--brand-color-primary);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
    left: 4px;
    top: -1px;
    right: 1px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.link-modal {
    color: var(--brand-color-primary);
    text-decoration: underline;
}

.span-modal-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--paragraf-text-color);
    /* margin-left: 57px; */
    left: 13px;
}

