// import wszystkich plików z folderów @import lub @use
@import "./components/footer";
@import "./components/navigation";
@import "./components/page-header";
@import "./components/logo";
@import "./components/links";
@import "./components/hero";
@import "./components/clients";
@import "./components/modal";
@import "./components/team";
@import "./components/what-we-do";
@import "./components/cards";
@import "./components/buttons";
@import "./components/form";
@import "./components/portfolio";
@import "./utils/vars";

body {
    color: red;
}
