// style cards porfolio

.pad-but {
    padding-top: 0;
}

.wrap {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}
.header-border {
    box-sizing: border-box;
    font-size: 18px;
    background: #ffffff;
    margin: 0px;
    border: 1px solid #eeeeee;
    cursor: pointer;
}

.header-border:hover,
.header-border:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    transform: scale(1.01);
}

.card-transition {
    flex-basis: calc((100% - 60px) / 3);
    transition-property: box-shadow, cursor, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.card-transition:hover,
.card-transition:focus {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
        1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transform: scale(1.01);
}

.box {
    position: relative;
    width: 370px;
    height: 294px;
    margin: 0 auto;
    background-color: var(--brand-color-primary);
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    top: 0;
    left: 0;
    background-color: var(--brand-color-primary);
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.box:hover .overlay {
    transform: translateX(0);
}

.overlay > p {
    color: var(--brand-color-white);
    padding: 49px 45px 49px 24px;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    font-weight: 400;
}

.no-gap {
    display: block;
}

.p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 4px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
}

.border-caption {
    height: 110px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}


