// style clients

.clients {
    text-align: center;
}

.clients__overlay {
    display: flex;
    justify-content: space-between;
}

.clients__item {
    width: 170px;
    height: 92px;
    border: solid 1px;
    border-color: var(--background-icon-color);
    border-radius: 4px;
    transition-property: color, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.clients-list-item:hover,
.clients-list-item:focus {
    border-color: var(--brand-color-primary);
    --background-icon-color: var(--brand-color-primary);
    transform: scale(1.05);
}

.clients-icon {
    fill: var(--background-icon-color);
    margin: 16px 32px;
}

.clients-icon:hover,
.clients-icon:focus {
    fill: var(--brand-color-primary);
    transform: scale(1.05);
}
