// style footer

.footer__overlay {
    display: flex;
}

.footer__meta {
    display: block;
}

.footer__link {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, transform;
}

.footer__link:hover,
.footer__link:focus {
    transform: scale(1.05);
}

// address footer

.address__list {
    margin-top: 20px;
}

.address__gap:not(:last-child) {
    margin-bottom: 9px;
}

.address__item {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, transform;
}

.address__item:hover,
.address__item:focus {
    transform: scale(1.05);
}

.address__link {
    font-family: var(--main-font);
    font-style: normal;
    line-height: 1.46;
    letter-spacing: 0.03em;
    color: var(--brand-color-white);
}
.address__link--color {
    color: var(--footer-text-color);
    text-decoration: none;
}

// join footer and icons

.footer__content{
    margin-left: 70px;
    margin-top: 10px;
}

.footer__title {
    color: var(--brand-color-white);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
}

.footer__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.footer__list li {
    padding: 12px 12px;
    border-radius: 50%;
    background-color: var(--footer-icon-color);
}

.footer__item {
    transition-property: background-color, color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__item:hover,
.footer__item:focus {
    background-color: var(--brand-color-primary);
    --background-icon-color: var(--brand-color-white);
    cursor: pointer;
    transform: scale(1.05);
}

.footer__icon {
    fill: var(--brand-color-white);
    display: block;
}
