// // style header

.page-header {
    display: flex;
    height: 80px;
    border-bottom: solid 1px;
    border-color: var(--line-color);
}

// navigation

.navigation {
    align-items: center;
    display: flex;
    gap: 46px;
    margin-left: 93px;
}

.navigation__item {
    position: relative;
}

.navigation__item::after {
    content: "";
    position: absolute;
    background: var(--brand-color-primary);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    margin-top: 28px;
    display: block;
}

.navigation__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--brand-color-secondary);
    transition-property: color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

// contacts header

.page-header__content {
    display: flex;
    gap: 50px;
    margin-left: auto;
}

.page-header__overlay {
    transition-property: color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__overlay:hover,
.page-header__overlay:focus {
    --paragraf-text-color: var(--brand-color-primary);
    transform: scale(1.1);
}

.page-header__link {
    font-weight: 500;
    display: flex;
    align-items: center;
    color: var(--paragraf-text-color);
}

.page-header__icon {
    margin-right: 10px;
    fill: var(--paragraf-text-color);
}
