// style hero

.hero {
    padding: 200px 0;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    background-color: $brand-color-background;
    background-image: linear-gradient(
            90deg,
            rgba(47, 48, 58, 0.4) 0%,
            rgba(47, 48, 58, 0.4) 0%
        ),
        url(/goit-markup-hw-04/images/tło2.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &__title {
        font-weight: $fontBig;
        text-transform: uppercase;
        text-align: center;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        margin: 0 auto;
        width: 696px;
        color: $brand-color-white;
    }

    // button zamów usługę

    &__button {
        font-weight: $fontMedium;
        font-size: 16px;
        line-height: 1.88;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: $brand-color-white;
        background-color: $brand-color-primary;
        box-shadow: 0px 4px 4px $brand-color-logo-black;
        border-radius: 4px;
        border: none;
        padding: 10px 40px;
        margin-top: 40px;
        transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__button:hover,
    &__button:focus {
        cursor: pointer;
        color: $brand-color-white;
        background-color: $brand-color-primary;
        transform: scale(1.05);
    }
}
