// style logo

.logo {
    font-family: $secondary-font;
    font-weight: $fontMedium;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $brand-color-primary;

    &--black {
        color: $brand-color-logo-black;
    }

    &--white {
        color: $brand-color-white;
    }
}
