// style modal

// tworzenie modala

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-color);
    visibility: visible;
    transition-property: opacity, visibility, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
    transform: scale(0);
}

.modal {
    position: absolute;
    height: 581px;
    background-color: var(--brand-color-white);
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 40px;
}

// modal zamknięcie

.close {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    top: 8px;
    right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--brand-color-white);
    border-radius: 50%;
    cursor: pointer;
}

// modal tytuły

.title-modal {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color-secondary);
    padding-bottom: 12px;
}

.span-modal {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--paragraf-text-color);
}

//  modal pola tekstowe

.label-modal {
    position: relative;
    display: block;
    flex-direction: column;
    padding-top: 4px;
    padding-bottom: 10px;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    width: 100%;
}

.input-modal {
    width: 100%;
    height: 40px;
    border: solid 1px;
    border-radius: 4px;
    border-color: rgba(33, 33, 33, 0.2);
    outline-color: var(--brand-color-primary);
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
}

.input-modal:focus-within,
.input-modal:focus-within + svg {
    fill: var(--brand-color-primary);
}

.textarea {
    outline-color: var(--brand-color-primary);
    resize: none;
    width: 100%;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--brand-color-logo-black);
    padding-left: 16px;
    margin-top: 4px;
    padding-top: 12px;
    border: solid 1px;
    border-radius: 4px;
    border-color: rgba(33, 33, 33, 0.2);
    outline-color: var(--brand-color-primary);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus-within {
    border-color: #2196f3;
}

.textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

// ikony modala

.icon-modal {
    display: block;
    position: absolute;
    left: 13px;
    top: 17px;
    fill: var(--brand-color-secondary);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

// modal checkbox --------------------

// styl checkbox

.checkbox-modal {
    padding-top: 10px;
}

// tworzenie checkbox ------------------

// * The container */
.container-check {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    margin-top: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 15px;
    width: 16px;
    background-color: var(--brand-color-white);
    border: 2px solid;
    border-color: var(--brand-color-secondary);
    border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
    background-color: var(--brand-color-white);
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
    background-color: #2196f3;
    border-color: var(--brand-color-primary);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
    left: 4px;
    top: -1px;
    right: 1px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

// styl tekstu checkboxa--------------------

.span-modal-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--paragraf-text-color);
    left: 13px;
}

.link-modal {
    color: var(--brand-color-primary);
    text-decoration: underline;
}

// modal button--------------------------

.button-modal {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--brand-color-white);
    background-color: var(--brand-color-primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 50px;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-padding {
    margin: 30px 0px 0px 124px;
}

.button-modal:hover,
.button-modal:focus {
    cursor: pointer;
    color: var(--brand-color-white);
    background-color: var(--brand-color-primary);
    transform: scale(1.05);
}
