// style our team

.team-title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1;
    margin-bottom: 50px;
}

.our-team {
    background-color: var(--brand-color-ordinary);
}

.our-team__overlay {
    display: flex;
    gap: 30px;
}

.our-team__content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.our-team__meta {
    background-color: var(--brand-color-white);
    width: 270px;
    height: 428px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin: 0;
    padding: 0px;
}

.our-team__item {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.our-team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.our-team__text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--paragraf-text-color);
}

.our-team__properties {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 16px;
}

.our-team__properties > li,
.list-icons-footer > li {
    padding: 12px 12px;
    border-radius: 50%;
}

.our-team__properties li:hover,
.our-team__properties li:focus {
    background-color: var(--brand-color-primary);
    --background-icon-color: var(--brand-color-white);
    cursor: pointer;
    transform: scale(1.1);
}

.our-team__icons {
    transition-property: color, background-color, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.our-team__icons a:hover,
.our-team__icons a:focus {
    transform: scale(1.1);
}

.our-team__link {
    fill: var(--background-icon-color);
    display: block;
}
