// style what we do

.what-we-do {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0px;
}

.what-we-do-background {
    display: flex;
    flex-direction: column;
    padding-bottom: 94px;
}

.thumb {
    position: relative;
    overflow: hidden;
}

.team-title {
    font-weight: 700;
}

.label {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 27px 0px 27px 90px;
    border-bottom-left-radius: 4px;
    background: var(--background-color-thumb);
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--brand-color-white);
    font-size: 14px;
}

.label1 {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 27px 0px 27px 113px;
    border-bottom-left-radius: 4px;
    background: var(--background-color-thumb);
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--brand-color-white);
    font-size: 14px;
}

.label2 {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 27px 0px 27px 94px;
    border-bottom-left-radius: 4px;
    background: var(--background-color-thumb);
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--brand-color-white);
    font-size: 14px;
}
